
<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>
  




<!-- Main Content -->
  <main><div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">What you should know about me.</h1>
        <div class="floated">
            <img src="/assets/images/portrait.jpg" alt="Picture of me" width="140" height="250">
        </div>
        <p>Hello!<br>
            My name is Julian Vick and I am currently enrolled in the software engineering program at Centennial College and I hope to be in co-op in the summer.
            My hobbies include playing online games, exercising and learning new things!<br>
            In case the image wasn't obvious enough, I also love cats!<br>
            I am excited for what this school year has in store for us and ready to begin another semester.<br>
            
        </p>
        <!-- Line breaks here because I could not figure out how to float the image inside the container (artifically making the container bigger) -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>