<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>
  




<!-- Main Content -->
  <main><div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to my website!</h1>
        <p>I aim to be the best person I can be. Whether that means learning new things or expanding on skills I already have.</p>
        <blockquote>
            "You make a choice: continue living your life feeling muddled in this abyss of self-misunderstanding, 
            or you find your identity independent of it. 
            You draw your own box."
            — Duchess Meghan
        </blockquote>
        <br>
        <p>Please take a look around my website using the navbar in the top right :)</p>
      </div>
    </div>
  </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>