
<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>
  




<!-- Main Content -->
  <main><div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Projects I've worked on/working on.</h1>
        <div class="floated">
            <img src="/assets/images/thermometer.jpg" alt="Old Thermometer" width="210" height="375">
        </div><br>
        <p>Shown in the image here is a thermometer/humidity sensor and an arduino attached to a breadboard.<br>
          It would send the temperature and humidity level to a website I had locally hosted. Unfortunately I lost the old code for it.<br><br>
          Besides this I have not worked on any other projects nor am I currently working on any.
        </p>
        <!-- Line breaks here because I could not figure out how to float the image inside the container (artifically making the container bigger) -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>