<!-- Partials that get imported into each page -->
<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>
  




<!-- Main Content -->
  <main><div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Services page.</h1>
        <h4>Some of my skills include: </h4>
        <ul>
            <li>Intermediate in C#</li>
            <li>Beginner in JavaScript</li>
            <li>Beginner in Python</li>
            <li>Understanding of Unix shell script</li>
            <li>Experienced in creating and hosting webpages</li>
        </ul>
      </div>
    </div>
  </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>